

{% if module.header_group.header_image.src %}
	{% set sizeAttrs = 'width="{{ module.header_group.header_image.width }}" height="{{ module.header_group.header_image.height }}"' %}
	{% if module.header_group.header_image.size_type == 'auto' %}
		{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
	{% elif module.header_group.header_image.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.header_group.header_image.max_width }}" height="{{ module.header_group.header_image.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.header_group.header_image.loading != 'disabled' ? 'loading="{{ module.header_group.header_image.loading }}"' : '' %}
	
<div style=" background-image:url({{ module.header_group.header_image.src }});background-repeat:no-repeat;">  
<div class="nav_container">
  
  {% if module.header_group.header_logo_image.src %}
	{% set sizeAttrs = 'width="{{ module.header_group.header_logo_image.width }}" height="{{ module.header_group.header_logo_image.height }}"' %}
	{% if module.header_group.header_logo_image.size_type == 'auto' %}
		{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
	{% elif module.header_group.header_logo_image.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.header_group.header_logo_image.max_width }}" height="{{ module.header_group.header_logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.header_group.header_logo_image.loading != 'disabled' ? 'loading="{{ module.header_group.header_logo_image.loading }}"' : '' %}
	<img src="{{ module.header_group.header_logo_image.src }}" alt="{{ module.header_group.header_logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
  
   {% for item in module.header_group.nav_group %}
   
    {% set href = item.header_nav_link.url.href %}
	{% if item.header_nav_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}

	<a class="nav_link" href="{{ href }}"
		{% if item.header_nav_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.header_nav_link.rel %}rel="{{ item.header_nav_link.rel }}"{% endif %}
		>
    <span style="font-family: {{ module.header_group.secondary_font_header.font }}; {{ module.header_group.secondary_font_header.style }};
                 color: {{ module.header_group.secondary_font_header.color }}; 
                 font-size: {{ module.header_group.secondary_font_header.size }}{{module.header_group.secondary_font_header.size_unit }};">
      
	{% inline_text field="header_nav_text" value="{{ item.header_nav_text }}" %}
      </span>
	</a>
 
	
	
{% endfor %}
</div>
  
  <div style="padding:150px">
     <span style="font-family: {{ module.header_group.header_font_primary.font }}; {{ module.header_group.header_font_primary.style }}; color: {{ module.header_group.header_font_primary.color }}; font-size: {{ module.header_group.header_font_primary.size }}{{module.header_group.header_font_primary.size_unit }};">
    
   {% inline_text field="header_text" value="{{ module.header_group.header_text }}" %}
  
  </span>
  
  
   <span style="font-family: {{ module.header_group.secondary_font_header.font }}; {{ module.header_group.secondary_font_header.style }}; color: {{ module.header_group.secondary_font_header.color }}; font-size: {{ module.header_group.secondary_font_header.size }}{{module.header_group.secondary_font_header.size_unit }};">
     
   {% inline_text field="header_detail_text" value="{{ module.header_group.header_detail_text }}" %}
  
  </span>
  </div>
 
  
  
</div>
{% endif %}


